*,
*::before,
*::after {
    box-sizing: border-box;
}


.board{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 5px;
}
.cell {
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  border: 1px solid #333;
  background: #fafafa;

}